<!DOCTYPE html>
<html>

<head>
  <title>Sample Charts</title>
  <link rel="stylesheet" href="{{ url_for ('static',
    filename='lib/css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static',
    filename='lib/css/keen-dashboards.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static',
    filename='css/custom.css')}}">
</head>

<body class="application">

  <div  id="outer" class="container-fluid">
      <div class="row">
          <!-- Country Chart - complete -->
          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div id="titles" class="chart-title">
                Life Expectancy By Country
              </div>
              <div class="chart-stage">
                <div id="Country-chart"></div>
              </div>
            </div>
          </div>
      </div>
      <div class="row">
      <!-- Country Chart - complete -->
      <div class="col-sm-12">
        <div class="chart-wrapper">
          <div id="titles" class="chart-title">
            Life Expectancy By World
          </div>
          <div class="chart-stage">
            <div id="World-chart"></div>
          </div>
        </div>
      </div>
  </div>
  </div>
  <script src="{{ url_for ('static', filename='lib/js/jquery.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/keen.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='js/graph.js')}}"></script>
</body>

</html>